td {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

button {
    background-color: lightgray;
    height: 56px;
    width: 32px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    border: 0px;
    margin: 3px 1px;
}

.pattern-g {
    background-color: rgb(2, 94, 2); 
    color: white;
}

.pattern-y {
    background-color: rgb(168, 168, 1);
    color: white;
}

.pattern-a {
    background-color: gray;
    color: white;
}

.header {
    font-family: sans-serif;
    text-align: center;
}

.wordle-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.keyboard {
    text-align: center;
}

#key-enter, #key-delete {
    width: 40px;
}

#reload {
    color: inherit;
    text-decoration: inherit;
}
